body{
	background: #fff;
}

#loginArea{
	text-align: center;
	box-shadow: 5px 5px 10px gray;
	margin-top: 100px;
	padding: 70px 20px;
	border-radius: 8px;
	background-color: darkslategray;
	color: white;
}

#loginBtn{
	padding: 5px 10px;
	border: none;
	background-color: white;
	border-radius: 5px;
	color: darkslategray;
	transition: all linear .3s;
}
#loginBtn:hover{
	background-color: darkslategray;
	color: white;
	transition: all linear .3s;
	border: 1px solid white;
	cursor: pointer;
}

.cart{
	margin: 100px 0;
	background-color: #F6F5FA;;
	padding: 60px 0;
}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart-item img{
	width: 115px;
}
.cart-item h5{
    padding: 0 45px;
}
.cart-item .remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
}
.status{
	text-align: right;
}
.check-out{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #2FBE70;
	border: none;
}

#productPage{
	display: none;
}

